/.ipynb_checkpoints/

# git ignore anything that starts with ~$
~$*
.idea/*

secret_cookie.txt
QGuides/*

.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# macOS system files
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
